.movie {
    background-color: #d3d3d3;
    color: #000;
    border: 1px solid #808080;
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
}

Img {
    max-width: 120em;
    height: 23em;
    border-radius: 5px;
    object-fit: contain;
}